{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/Home.css' %}" rel="stylesheet">
</head>

<body>
    <header>
        <div class="navbar-top">
            <div class="container-fluid" id=atas>
                <div class="row" id="row1">
                    <div class="col-md-6 col-12">
                        <span id="ata">Alpha Tech Academy</span>
                    </div>
                    <div class="col-md-6 col-12 link" id=menu>
                        <a href="{% url 'Home' %}" id="Home">Home</a>
                        <a href="{% url 'Blog' %}" id="Blog">Blog</a>
                        <a href="{% url 'Mentor' %}" id="Mentor">Mentor</a>
                        <a href="{% url 'Mentee' %}" id="Mentee">Mentee</a>
                        <a href="{% url 'Author' %}" id="Author">Author</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>

<div class="row justify-content-center" id="row2">
    <div class="col-6">
        <div class="section-header">
            <img class="foto" src="{% static 'images/alpha-logo.png' %}"><br>
            <br>
            <h1 id="ata1">Alpha Tech Academy</h1>
            <span id="ata2">
                Alpha Tech Academy is a teach talent incubator that gives everyone (even
                non background IT) a chance to be a professional Tech Talent within 3
                months. Contact Person: Email: academy@alphatech.id Mobile phone:
                0877 9609 9530
            </span><br><br>
        </div>

    </div>
</div>

<div class="tengah">
    <div class="row" id="row3">
        <div class="col-md-3 col-12">
            <img src="{% static 'images/benefit.png' %}">
        </div>
        <div class="col-md-9 col-12">
            <h6>Learn Awesome Teach</h6>
            <p id="p1">You will learn about programming language, such us Python and Javascript, build back-end apps
                using Flask framework with microservice concept, build client-site apps using React Library, etc.
            </p>
        </div>
    </div>

    <div class="row" id="row4">
        <div class="col-md-3 col-12">
            <img src="{% static 'images/search-job.png' %}">
        </div>
        <div class="col-md-9 col-12">
            <h6>Land New Job</h6>
            <p id="p2">If you can pass the program, you will be part of our reliable tech team for especially Software
                Engineer position and other position such us Quality Engineer, System Analist, etc.
            </p>
        </div>
    </div>

    <div class="row" id="row5">
        <div class="col-md-3 col-12">
            <img src="{% static 'images/get-paid.png' %}">
        </div>
        <div class="col-md-9 col-12">
            <h6>Get Paid to Learn</h6>
            <p id="p3">Join for free and earn some money. Yes you read that right, no registration fee required
                to enter this program. To make things even better, you will receive pocket money just for
                participating. Cool, right?
            </p>
        </div>
    </div>

    <div class="row" id="row6">
        <div class="col-md-3 col-12">
            <img id="mission" src="{% static 'images/mission.png' %}">
        </div>
        <div class="col-md-9 col-12">
            <h5>Who are we?</h5>
            <p id="p4">Alpha tech academy is a tech talent incubator that gives everyone (even non background IT)
                a chance to be a professional Tech Talent within 3 months of being a professional Tech Talent.
                What is our mission? We want to improve capability Tech Talent in Indonesia.
            </p>
            <br>
            <br>
            <h5>What is our mission??</h5>
            <p id="p5">We want to improve capability Tech Talent in Indonesia. </p>
        </div>
    </div>

    <div class="row" id="row6">
        <div id="learn">
            <h6>What will you learn?</h6>
        </div>
        <div class="col-md-3 col-12">
            <div class="kotak">
                <img class="materi" src="{% static 'images/learn-html.png' %}">
            </div>
        </div>
        <div class="col-md-3 col-12">
            <div class="kotak">
                <img class="materi" src="{% static 'images/learn-programming.png' %}">
            </div>
        </div>
        <div class="col-md-3 col-12">
            <div class="kotak">
                <img class="materi" src="{% static 'images/learn-git.png' %}">
            </div>
        </div>
        <div class="col-md-3 col-12">
            <div class="kotak">
                <img class="materi" src="{% static 'images/learn-api.png' %}">
            </div>
        </div>
        <div class="col-md-3 col-12">
            <div class="kotak">
                <img class="materi" src="{% static 'images/learn-react.png' %}">
            </div>
        </div>
        <div class="col-md-3 col-12">
            <div class="kotak">
                <img class="materi" src="{% static 'images/learn-tdd.png' %}">
            </div>
        </div>
        <div class="col-md-3 col-12">
            <div class="kotak">
                <img class="materi" src="{% static 'images/learn-server.png' %}">
            </div>
        </div>
        <div class="col-md-3 col-12">
            <div class="kotak">
                <img class="materi" src="{% static 'images/learn-scrum.png' %}">
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="wadah-gambar">
        <div class="gambar row">
            <div class="col-md-2">
                <p>Our product:</p>
            </div>
            <div class="col-md-2">
                <img src="{% static 'images/logo-grey-alphapay.png' %}">
            </div>
            <div class="col-md-2">
                <img src="{% static 'images/logo-grey-sepulsa.png' %}">
            </div>
            <div class="col-md-2">
                <img src="{% static 'images/logo-grey-alphabill.png' %}">
            </div>
        </div>
    </div>
    <div class="bawah">
        <p>Contact Person: Mobile phone: 0877 9609 9530. Email: <span id="ata3">academy@alphatech.id</span> 
        </p>
    </div>
</footer>

</html>