{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/Home.css' %}" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="navbar-top">
                <div class="container-fluid" id=atas>
                    <div class="row" id="row1">
                        <div class="col-md-6 col-12">
                            <span id="ata">Alpha Tech Academy</span>
                        </div>
                        <div class="col-md-6 col-12 link" id=menu>          
                            <a href="{% url 'Home' %}" id="Home">Home</a>
                            <a href="{% url 'Blog' %}" id="Blog">Blog</a>
                            <a href="{% url 'Mentor' %}" id="Mentor">Mentor</a>
                            <a href="{% url 'Mentee' %}" id="Mentee">Mentee</a>
                            <a href="{% url 'Author' %}" id="Author">Author</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </body>
    
    <div class="row justify-content-center" id="row2">
        <div class="col-6">
            <div class="section-header">
                <img class="foto" src="{% static 'images/alpha-logo.png' %}"><br>
                <br>
                <h1 id="ata1">Alpha Tech Academy Blog</h1>
                <span id="ata2">
                    Alpha Tech Academy is a teach talent incubator that gives everyone (even
                    non background IT) a chance to be a professional Tech Talent within 3
                    months. Contact Person: Email: academy@alphatech.id Mobile phone:
                    0877 9609 9530
                </span><br><br>
            </div>
        </div>
    </div>

<div class="tengah">
    <div class="full-width">
        <img id="kendala-pulsa" src="{% static 'images/kendala-sepulsa.jpg' %}">
    </div>
    <div class="deskripsi-pulsa">
        <div>September 25, 2018</div>
        <div>0 Comment</div>
    </div>
    <div class="full-width">
        <h1>Punya Kendala? Segera Hubungi Customer Service!</h1>
    </div>
    <div class="full-width">
        <p>
            Bagi Sepulsa, kepuasan pelanggan adalah yang utama. Kami senantiasa mendengarkan keluhan maupun kendala yang kamu
            hadapi selama melakukan transaksi di Sepulsa. Umumnya pelanggan Sepulsa menghadapi kendala sebagai berikut: Status
            Order Pending Jika transaksi pembayaran sudah selesai, namun status order kamu masih pending dalam jangka waktu 15
            menit, segera hubungi tim Customer Service dengan menyertakan email ...
        </p>
    </div>
    <div>
        <a href="#">Baca Selengkapnya</a>
    </div>
</div>
<br>
<div class="tengah">
    <div class="full-width">
            <img id="sms" src="{% static 'images/sms.png' %}">
        </div>
        <div class="deskripsi-pulsa">
            <div>August 14, 2018</div>
            <div>0 Comment</div>
        </div>
        <div class="full-width">
            <h1>OTP, Si Kode Rahasia nan Berbahaya</h1>
        </div>
        <div class="full-width">
            <p>
                Kemudahan dalam berbagai transaksi perbankan memang banyak memberikan keuntungan bagi nasabah.
                Bayangkan saja, aktivitas jual beli yang pada awalnya membutuhkan waktu dan tempat, kini bisa
                dilakukan tanpa perlu beranjak dari tempat duduk kamu dan pembayaran lunas dalam hitungan detik
                dengan cara transaksi online. Namun tanpa disadari, kemudahan tersebut bukan berarti tanpa celah.
                Sebelum kita membahas lebih ...  
            </p>
        </div>
        <div>
            <a href="#">Baca Selengkapnya</a>
        </div>
    </div>   
</div>
<br>
<br>
    <footer>
        <div class="wadah-gambar">
            <div class="gambar row">
                <div class="col-md-2">
                    <p>Our product:</p>
                </div>
                <div class="col-md-2">
                    <img src="{% static 'images/logo-grey-alphapay.png' %}">
                </div>
                <div class="col-md-2">
                    <img src="{% static 'images/logo-grey-sepulsa.png' %}">
                </div>
                <div class="col-md-2">
                    <img src="{% static 'images/logo-grey-alphabill.png' %}">
                </div>
            </div>
        </div>
        <div class="bawah">
            <p>Contact Person: Mobile phone: 0877 9609 9530. Email: <span id="ata3">academy@alphatech.id</span>
            </p>
        </div>
    </footer>    
</html>