{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Mentee</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/Home.css' %}" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="navbar-top">
                <div class="container-fluid" id=atas>
                    <div class="row" id="row1">
                        <div class="col-md-6 col-12">
                            <span id="ata">Alpha Tech Academy</span>
                        </div>
                        <div class="col-md-6 col-12 link" id=menu>          
                            <a href="{% url 'Home' %}" id="Home">Home</a>
                            <a href="{% url 'Blog' %}" id="Blog">Blog</a>
                            <a href="{% url 'Mentor' %}" id="Mentor">Mentor</a>
                            <a href="{% url 'Mentee' %}" id="Mentee">Mentee</a>
                            <a href="{% url 'Author' %}" id="Author">Author</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </body>
    
    <div class="row justify-content-center" id="row2">
        <div class="col-6">
            <div class="section-header">
                <img class="foto" src="{% static 'images/alpha-logo.png' %}"><br>
                <br>
                <h1 id="ata1">Alpha Tech Academy</h1>
                <span id="ata2">
                    Alpha Tech Academy is a teach talent incubator that gives everyone (even
                    non background IT) a chance to be a professional Tech Talent within 3
                    months. Contact Person: Email: academy@alphatech.id Mobile phone:
                    0877 9609 9530
                </span><br><br>
            </div>
        </div>
    </div>
    
<div class="tengah-tengah">
    <div class="row" id="id-mentee">
        <div id="learn">
            <h5>Our Mentee</h5>
        </div>
    </div>
    <div class="mentee row" id="id-mentee">
        <div class="col-md-4 col-12">
            <img class="foto-mentee" src="{% static 'images/Deepin-Screenshot-select-area-20181009100635.png' %}">
        </div>
        <div class="col-md-8 col-12">
            <h5>Steve Jobs</h5>
            <p>"I learn so much from Alpha Tech."</p>
        </div>
    </div>
    <div class="mentee row" id="id-mentee">
        <div class="col-md-4 col-12">
            <img class="foto-mentee" src="{% static 'images/Deepin-Screenshot-select-area-20181009100646.png' %}">
        </div> 
        <div class="col-md-8 col-12">
            <h5>Larry Page</h5>
            <p>"Great place to learn about programming."</p>
        </div>
    </div>
    <div class="mentee row" id="id-mentee">
        <div class="col-md-4 col-12">
            <img class="foto-mentee" src="{% static 'images/Deepin-Screenshot-select-area-20181009100620.png' %}">
        </div>
        <div class="col-md-8 col-12">
            <h5>Mark Zuckenberg</h5>
            <p>"The best place for who want to be a great IT talent."</p>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>

    <footer>
        <div class="wadah-gambar">
            <div class="gambar row">
                <div class="col-md-2">
                    <p>Our product:</p>
                </div>
                <div class="col-md-2">
                    <img src="{% static 'images/logo-grey-alphapay.png' %}">
                </div>
                <div class="col-md-2">
                    <img src="{% static 'images/logo-grey-sepulsa.png' %}">
                </div>
                <div class="col-md-2">
                    <img src="{% static 'images/logo-grey-alphabill.png' %}">
                </div>
            </div>
        </div>
        <div class="bawah">
            <p>Contact Person: Mobile phone: 0877 9609 9530. Email: <span id="ata3">academy@alphatech.id</span>
            </p>
        </div>
    </footer>
</html>